{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - {{ site_name }}{% endblock %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <img src="{{ article.image }}" alt="{{ article.title }}">
        <p>{{ article.intro }}</p>
        {{ article.content|raw }}

        <div class="categories">
            {% for category in article.categories %}
            <a href="{{ path('view_category',{'id':category.id}) }}" class="btn btn-primary btn-sm" >{{ category.name }}</a>
            {%  endfor %}
        </div>
    </article>
    <br>

    <div id="comments">
        {% for comment in article.comments %}
            <div class="row">
                <div class="col-2">
                    {{ comment.author }}
                    ({{ comment.email }})
                </div>
                <div class="col-8">
                    {{ comment.content | raw}}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <div id="form_comment">
        <!-- Gen la balise form -->
        {{ form_start(formComment) }}
        <!-- Gen les inputs -->
        {{ form_widget(formComment) }}
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Envoyer">
        </div>
        <!-- Ferme la balise form (pkoi il faut passer le form en param ??) -->
        {{ form_end(formComment) }}
    </div>

    <div id="admin_mode">
        <a href="{{ path('edit_article',{'id':article.id}) }}" class="btn btn-primary" >Editer l'Article</a>
    </div>
{% endblock %}


